*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
	line-height: 1;
  font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input,
button,
textarea,
select {
  font-family: 'Roboto', sans-serif;
  font: inherit;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
button:hover{
	cursor: pointer;
}
a{

	text-decoration: none;
}


.form_wrapper{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  form{
  width: 35%;
  min-height: 600px;
  background: #fff;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
   .title{
  font-size: 34px;
  font-weight: 700;
  color: #584bdd;
  text-align: center;
  margin: 15px;
  }
  input{
  padding: 15px;
  margin: 10px 0px;
  width: 90%;
  border: none;
  border-radius: 30px;
  background: #f7f9fc;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: 0.3s ease-in-out;
  }
  input:hover {
	border: 2px solid #379bc0;
  }
  input:focus {
	outline: none;
	box-shadow: 0px 0px 5px 5px rgba(230, 218, 218, 0.62);
	-webkit-box-shadow: 0px 0px 5px 5px rgba(230, 218, 218, 0.62);
	-moz-box-shadow: 0px 0px 5px 5px rgba(230, 218, 218, 0.62);
  }
  .sign_in_btn{
  padding: 15px;
  margin: 10px 0px;
  width: 88%;
  border: none;
  border-radius: 30px;
  background: #7f33ff;
  color: white;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: 0.3s ease-in-out;
  }
  .sign_up{
  display: inline;
  }
  .check_box{
	width: 88%;
	height: 20px;
	display: flex;
	justify-content: flex-start;
  }
  input[type="checkbox"]{
	width: 30px;
  }
  input[type="checkbox"]:focus{
	box-shadow: none;
	
  }

  @media screen and (max-width: 600px){
    form{
      width: 90%;
    }
  }